
<!DOCTYPE html>
<html lang="ru-RU">
<head>

   {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}" />


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-rim-auto-match" content="none">
    <title>Томилка - свобода от кулинарных забот на природе</title>
    <link rel="stylesheet" href="{% static 'fonts/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'styles/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'fancy/jquery.fancybox.min.js' %}" media="all">


</head>

<body>
   
    <header>
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-xl-3 logo">
                        <img src="{% static 'images/logo.svg' %}" alt="">
                        <p class="info">Томилка - свобода от кулинарных забот на природе! Печь, которая готовит сама!</p>
                    </div>
                    <div class="d-none d-xl-block col-xl-7">
                        <ul>
                            <li>
                                <a href="/">Главная</a>
                            </li>
                            <li>
                                <a href="/whysotasty">Почему так вкусно</a>
                            </li>
                            <li>
                                <a href="/health">Здоровье</a>
                            </li>
                            <li>
                                <a href="/types">Модели и цены</a>
                            </li>
                            <li>
                                <a href="/qar">Вопрос-ответ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-6 col-xl-2 phone">
                        8 800 250 59 32 <br>
                        <span>звонок по россии бесплатный</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <main>

        <div class="header-main">
            <div class="container">
                <div class="row header-bg">
                    <div class="col-12 col-lg-8 col-xl-7">
                        <h1>Готовьте сочнейшее мясо и рыбу в печи Томилка</h1>
                        <p class="header-subtitle">На углях или плите. Следить не нужно. Томилка готовит, вы отдыхаете с друзьями.</p>
                        <img src="{% static 'images/header-bg.png' %}" alt="" class="d-lg-none header-mob">
                        <div class="video">
                            <img src="{% static 'images/arrow.png' %}" alt="">
                            <div class="info">Посмотрите видео, <br> как это работает </div>
                            <iframe src="https://www.youtube.com/embed/osNH2c2KN3o?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <div class="info">
                            <img src="{% static 'images/dish.svg' %}" alt="">
                            <p>Навсегда забудете о проблемах с едой на отдыхе и природе</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery">
            <div class="container pt">
                <div class="row">
                    <div class="col-6 col-md-3">
                        <a class="fancybox-gallery" data-fancybox="photos" href="images/gal-1.jpg">
                            <img src="{% static 'images/gal-1-mini.jpg' %}" alt="">
                        </a>
                    </div>
                    <div class="col-6 col-md-3">
                        <a class="fancybox-gallery" data-fancybox="photos" href="images/gal-2.jpg">
                            <img src="{% static 'images/gal-2-mini.jpg' %}" alt="">
                        </a>
                    </div>
                    <div class="col-6 col-md-3">
                        <a class="fancybox-gallery" data-fancybox="photos" href="images/gal-3.jpg">
                            <img src=" {% static 'images/gal-3-mini.jpg' %}" alt="">
                        </a>
                    </div>
                    <div class="col-6 col-md-3">
                        <a class="fancybox-gallery" data-fancybox="photos" href="images/gal-4.jpg">
                            <img src="{% static 'images/gal-4-mini.jpg' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        
    </main>
    
    <footer>
        <div class="container">
            <div class="row justify-content-center footer-links">
                <a class="d-block center" href="#">Доставка по всей России</a>
                <a class="d-block center" href="#">Договор оферты</a>
                <a class="d-block center" href="#">Политика конфиденциальности</a>
            </div>
            <div class="row justify-content-center">
                <img class="requisites" src="{% static 'uploadupdate/ip-g.png' %}" alt="">
            </div>
            <div class="row justify-content-center">
                <p class="info center">© 2019 "tomilka-official.ru" Все права защищены. Использование материалов разрешено только с согласия правообладателей. Полное или частичное копирование сайта запрещено и преследуется по закону.</p>
            </div>
        </div>
    </footer>
    
    <link rel="stylesheet" href="{% static 'fancy/jquery.fancybox.min.css' %}">
    <script src="https://yandex.st/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static 'fancy/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'scripts/custom.js' %}"></script>
    <script src='https://apispn.ru/js/jquery.form.min.js'></script>
	<script src='https://apispn.ru/js/jquery.spnform2.js'></script>
	<script src='https://apispn.ru/js/jquery.spncall.js'></script>
	<script src='https://apispn.ru/js/jquery.maskedinput.js'></script>


</body>
</html>
